{% for post in site.posts %}
  {% if post.cheats == true %}
    {% assign is-featured = true %}
  {% endif %}
{% endfor %}

{% if is-featured == true %}
<!-- begin featured post -->
<section class="featured-post">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="row">
            {% for post in site.posts %}
            {% if post.cheats == true %}
            <div class="article col col-4 col-d-6 col-t-12 animate">

              <div class="article__inner">

                {% if post.featured %}
                <span class="featured-post ion ion-ios-star-outline"></span>
                {% endif %}

                

                <div class="article__content">

                  <div class="article__meta">
                    <time class="article__date"
                      datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ post.date | date: date_format }}</time>
                  </div>

                  <h2 class="article__title">
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                  </h2>

                  </div>

                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end featured post -->
{% endif %}
